includes:
	- vendor/phpstan/phpstan-mockery/extension.neon
	- phpstan-baseline.neon

parameters:
	level: 9
	paths:
		- cli
		- tests
	ignoreErrors:
		- '#Method .*? with no value type specified in iterable type array#'
